/*! BASE STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #171717;
    color: #fff;
}

main {
    background: #171717;
}

/*! HEADERS AND NAV */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: #111;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}